In [3]:
import sys
import pandas as pd

sys.argv.append(["--max-memory", "8G"])
df = pd.read_csv("data/demographics.csv")
df.head()

,dauid,area_sq_km,pop_total,hhld_total,vismin_total,vismin_vismin,lico_total,lico_lico,fam_total,fam_oneparent,fam_onemother
0,48060056,0.1221,465,166,480.0,265.0,465.0,15.0,140.0,15.0,15.0
1,48060057,0.0866,377,134,390.0,155.0,375.0,10.0,120.0,15.0,15.0
2,48060058,0.1557,467,183,475.0,255.0,470.0,30.0,140.0,25.0,15.0
3,48060059,0.0888,351,144,385.0,175.0,350.0,15.0,110.0,5.0,5.0
4,48060060,0.2522,612,215,635.0,345.0,615.0,20.0,195.0,30.0,15.0